<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3-代码片段</title>
    <style>
        table {
  border: 1px solid #e9e9e9;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 8px 16px;
  border: 1px solid #e9e9e9;
  text-align: left;
}

th {
  background-color: #f7f7f7;
  color: #5c6b77;
  font-weight: 600;
}

.counter {
  margin: 0 5px;
}

    </style>
</head>
<body>
    <div id="app"></div>
    <template id="my-app">
        <template v-if="books.length > 0">
            <table>
            <thead>
                <th>序号</th>
                <th>书籍名称</th>
                <th>出版日期</th>
                <th>价格</th>
                <th>购买数量</th>
                <th>操作</th>
            </thead>
            <tbody>
                <tr v-for="(book, index) in books">
                <td>{{index + 1}}</td>
                <td>{{book.name}}</td>
                <td>{{book.date}}</td>
                <td>{{formatPrice(book.price)}}</td>
                <td>
                    <button :disabled="book.count <= 1" @click="decrement(index)">-</button>
                    <span class="counter">{{book.count}}</span>
                    <button @click="increment(index)">+</button>
                </td>
                <td>
                    <button @click="removeBook(index)">移除</button>
                </td>
                </tr>
            </tbody>
            </table>
            <h2>总价格: {{formatPrice(totalPrice)}}</h2>
        </template>
        <template v-else>
            <h2>购物车为空~</h2>
        </template>
    </template>
    <script src="../js/vue.js"></script>
    <script>
        Vue.createApp({
        template: "#my-app",
        data() {
            return {
                books: [
                    {
                        id: 1,
                        name: '《算法导论》',
                        date: '2006-9',
                        price: 85.00,
                        count: 1
                    },
                    {
                        id: 2,
                        name: '《UNIX编程艺术》',
                        date: '2006-2',
                        price: 59.00,
                        count: 1
                    },
                    {
                        id: 3,
                        name: '《编程珠玑》',
                        date: '2008-10',
                        price: 39.00,
                        count: 1
                    },
                    {
                        id: 4,
                        name: '《代码大全》',
                        date: '2006-3',
                        price: 128.00,
                        count: 1
                    },
                ]
            }
        },
        computed: {
            // vue2: filter/map/reduce
            totalPrice() {
                let finalPrice = 0;
                for (let book of this.books) {
                    finalPrice += book.count * book.price;
                }
                return finalPrice;
            },
            // Vue3不支持过滤器了, 推荐两种做法: 使用计算属性/使用全局的方法
            filterBooks() {
                return this.books.map(item => {
                    const newItem = Object.assign({}, item);
                    newItem.price = "¥" + item.price;
                    return newItem;
                })
            }
        },
        methods: {
            increment(index) {
                // 通过索引值获取到对象
                this.books[index].count++
            },
            decrement(index) {
                this.books[index].count--
            },
            removeBook(index) {
                this.books.splice(index, 1);
            },
            formatPrice(price) {
                return "¥" + price;
            }
        }
        }).mount("#app");
    </script>    
</body>
</html>