<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>父向子传递数据</title>
  <style>
    .a {
      background: red;
    }
    .b {
      background: green;
    }
  </style>
</head>
<body>
  <div id="app"></div>
  <script src="../bower_components/vue/dist/vue.js"></script>
  <script>

    // 头组件
    let MyHeader = {
      template: `
        <header>
          <h1>我是头部</h1>
          <h1 v-if="xxx">我是xxx</h1>
          <h1 v-show="xxx">我是xxx</h1>
          <h1>我是头部</h1>
          <button @click="changeXxx">改变显示</button>  
          <ul>
            <li v-for="person in ['张三', '李四']">{{person}}</li>  
          </ul>
          <p>接受到父组件的参数{{title}}</p>
          <p>接受到父组件的参数<span v-html="title"></span></p>
          <p>状态：{{status}}</p>

          单项数据流：(vue->html) :<input :value="text" /> <br />
          双向数据流：(vue->html->vue): <input v-model="text" /> <br />
          <h1>主要看这里</h1>
          vue数据：{{ text }}

        </header>
      `,
      data() {
        return {
          xxx: true,
          text: 'hello'
        }
      },
      methods: {
        changeXxx() {
          this.xxx = !this.xxx
        }
      },

      // 声明接受参数
      // props: ['title','status']
      props: {
        content: {
          type: String,
          required: false,
          default: '',
          validator: function(value) {
            return (value.length > 5)
          }
        }
      }
    }


    // 函数调用的方式调用组件
    // 语法糖
    let MyBody = Vue.extend({
      template: `<main>
          <h1>Vue函数调用创建组件</h1>  
        </main>`
    });


    // foot组件
    let MyFooter = {
      template: `
        <footer>
          <h1>我是footer</h1>
          <p>我是底部<button @click="showNum(123)">click me</button></p>  
        </footer>
      `,
      methods: {
        showNum(arg) {
          console.log(arg);
        }
      }
    }    


    // 声明入口组件
    let App = {
      components: {
        'my-header': MyHeader,
        'my-body': MyBody,
        'my-footer': MyFooter
      },
      template: `
        <div>
          <my-header :title="title" status="状态很好" /><hr /> <!--status是传递常量-->
          <my-body></my-body><hr />
          <my-footer/>
        </div>
      `,
      data: () => {
        return {
          title: '<strong>我是头部从App组件传过来的</strong>'
        }
      }
    }

    new Vue({
      el: document.getElementById('app'),
      components: {
        app: App
      },
      template: '<app/>', // 入口组件
      data: function() {
        return {
          isShow: true
        }
      },
      methods: { }
    })
  </script>  
</body>
</html>