<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>computed</title>
</head>
<body>
  <div id="app"></div>
  <script src="../bower_components/vue/dist/vue.js"></script>
  <script>


    let App = {
      template: `
        <div>
          <input type="text" v-model="n1" /> + 
          <input type="text" v-model="n2" /> *
          <input type="text" v-model="rate" /> =
          {{ result }}
        </div>
      `,
      data() {
        return {
          n1:0,
          n2:0,
          rate:1
        }
      },
      // 监视多个
      computed: {
        // 包含原值不变，缓存不掉函数的优化机制
        result() {
          // 监视对象，写在了函数内部，凡是函数内部有 this，相关属性，改变都会触发当前函数
          // this.n1 this.n2 this.rate
          console.log('监视到了');
          return ((parseInt(this.n1) + parseInt(this.n2-0)) * parseInt(this.rate))

        }
      },

      watch: {

      }
    }

    // 启动 Vue
    new Vue({
      el: document.getElementById('app'),
      components: {
        app: App
      },
      template: '<app/>',
      data: function() {
        return {
          isShow: true
        }
      },
      methods: { }
    })
  </script>  
</body>
</html>