<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>给DOM元素添加事件的特殊情况</title>
  <style>
    .a {
      background: red;
    }
    .b {
      background: green;
    }
  </style>
</head>
<body>
  <div id="app"></div>
  <script src="../bower_components/vue/dist/vue.js"></script>
  
  <script>

    // 头组件
    let MyHeader = {
      template: `<header>
          <input type="text" v-if="isShow" ref="input" />
          <button ref="btn">我是按钮</button>
        </header>`,
      data() {
        return {
          isShow: false
        }
      },
      methods: {
        changeText() {
          this.text = 'change text'
        }
      },
      mounted() {
        // 装载数据之后
        // 显示元素，并给与获取焦点
        this.isShow = true;// 会触发input元素的插入，但并不会马上插入元素

        // input元素获取焦点
        // Vue真正渲染DOM到页面之后，才做的事
        this.$nextTick(()=>{ // $nextTick 下一次渲染结束之后
          this.$refs.input.focus();
        });

      },

    }


    // 声明入口组件
    let App = {
      components: {
        'my-header': MyHeader
      },
      template: `
        <div>
          <keep-alive>
            <my-header v-if="isExists"/>
          </keep-alive>
          <button @click="isExists = !isExists">事关子组件生死</button>
        </div>
      `,
      data() {
        return {
          isExists: true
        }
      }
    }

    var vm = new Vue({
      el: document.getElementById('app'),
      components: { // 声明要使用的组件
        app: App
      },
      template: '<app/>', // 入口组件
      data: function() {
        return {
          isShow: true
        }
      },
      methods: { }
    })
  </script>  
</body>
</html>