body {
  margin:0
}
.container {
  padding: 40px 0 55px 0;
}
a, a:link {
  color: #333;
  text-decoration: none;
}
.news-content img {
  width: 100%
}
.my-gallery {
  width: 100%;
  height: 300px;
}
.my-gallery img {
  height: 123px;
  width: 100%;
}
.my-gallery figure {
  margin: 0;
  padding: 0;
  width: 33.33%;
  float: left;
}