<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>watch</title>
</head>
<body>
  <div id="app"></div>
  <script src="../bower_components/vue/dist/vue.js"></script>
  <script>


    let App = {
      template: `
        <div>
          <input type="text" v-model="myText" /><br />
          {{ myText }}

          <button @click="person[0].name='Alice'">改变person[0].name属性</button>
          <ul>
            <li v-for="(item, index) in person">{{ item.name }}</li>
          </ul>
        </div>
      `,
      data() {
        return {
          myText: 'Hello',
          person: [{
            name: 'jack',
            age: 30
          }]
        }
      },
      watch: {
        // 监视复杂类型
        // 无法监视的原因是因为监视的对象的地址，地址没改，改的是同地址属性的值
        // person() {
        //   console.log('监视复杂类型')
        // },

        // solution: 深度监视 object || array
        person: {
          deep: true, // 深度
          handler(newV, oldV) {
            console.log('监视复杂类型')
            console.log('newV:', newV)
            console.log('oldV:', oldV)
          }
        },

        // key是data属性名
        myText(newV, oldV) {
          console.log('new:', newV)
          console.log('old:', oldV)
          if(newV === 'iloveyou') {
            alert('我爱你')
          }
        }
      }
    }

    // 启动 Vue
    new Vue({
      el: document.getElementById('app'),
      components: {
        app: App
      },
      template: '<app/>',
      data: function() {
        return {
          isShow: true
        }
      },
      methods: { }
    })
  </script>  
</body>
</html>